<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="dashboard">Home</a>
        <a href="logout">Logout</a>
    </div>
<h1>Iphone 9 {{list.Item}}(cambia) </h1>

<h4>User who added this product/item under their wish list</h4>
<ul>
    <li>Mark</li>
    <li>Maria</li>
    <li>Steve</li>
</ul>



</body>
</html>